
  html,body {
    background: #222;
    color: #aaa;
    top: 0px;
    left: 0px;
    position: absolute;
  }
  
  canvas {
    z-index: 1;
    top: -95px;
    position: absolute;
  }

  .popup {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    object-fit: cover;
    width: 100vw;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }

  iframe {
    width: 70%;
    height:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .kreuz {
    color: white;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 2.5px;
    background: rgb(244, 4, 4);
    position: absolute;
    font-size: 24px;
  }

  .material-icons {
    vertical-align: middle;
    text-align: center;
  }

  .kreuz:hover {
    cursor: pointer;
 }

/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #8CF3BE;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

