
  html,body {
    background: #222;
    color: #aaa
  }
  
  canvas {
    z-index: 1;
  }
 
  .popup {
    visibility: hidden;
    position: fixed;
    z-index: 2;
    object-fit: cover;
    width: 100vw;
    height:100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  video {
    width: 70%;
    height:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .kreuz {
    color: white;
    display: block;
    width: 5px;
    height: 30px;
    border-radius: 2.5px;
    background: rgb(26, 25, 25);
    position: absolute;
  }

  .kreuz:hover {
    cursor: pointer;
 }



